/*Definicion de cuerpo general*/

/*Definimos los colores predertminados */
body {
    --color-primario: #1a37b5;
    --color-secundario: #FFF9EB;
    --color-terciario: #C4C4C4;
    --color-button: #fe652b;
    --color-button-hover: #501801;
    --color-text: #444444;
    --color-fondo: #e2dfdf;
    --color-white: #FFFFFF;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Jost',sans-serif;
    background: linear-gradient(to bottom, #303d79,#4a6fa5, #6b8cae);
}

.main{
    width: 400px;
    height: 550px;
    background: red;
    overflow: hidden;
    background: src("IMG/fondologin.jpg") no-repeat center / cover;
    border-radius: 10px;
    box-shadow: 5px 20px 5px #000;
}

