/* Reseteo básico de márgenes */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #007BFF;
    margin-bottom: 20px;
}

.options {
    text-align: center;
    margin-bottom: 20px;
}

.options .btn {
    margin: 10px;
    padding: 10px 20px;
    background-color: rgb(45, 153, 165);
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

.options .btn:hover {
    background-color: rgb(45, 153, 165);
}

.calendar-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.calendar-icon img {
    margin-right: 10px;
}

.catalog-section {
    text-align: center;
    margin-bottom: 20px;
}

.catalog-section .btn {
    margin: 10px;
    padding: 10px 20px;
    background-color: #007BFF;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

.catalog-section .btn:hover {
    background-color: #0056b3;
}

.treatments {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.treatment {
    text-align: center;
    width: 200px;
}

.treatment img {
    max-width: 100%;
    border-radius: 8px;
}

.treatment h3 {
    color: rgb(45, 153, 165);
    margin-bottom: 10px;
}

.treatment .btn {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: rgb(45, 153, 165);
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

.treatment .btn:hover {
    background-color: rgb(45, 153, 165);
}